#navbar{
    background-color:black;
}
.card {
    width: 500px;
    max-width: 100%;
  }
  
.background {
    /* background-image: url("../svg/background.png"); */
    background-color: #c7b491;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: fill;
}

.card {
    width: '18rem';
    background-color: "grey";
    box-shadow: black;
}